{% filter indent(width=8) %}{% if settings.file_server.use_interactive_breadcrumb %}
<h3 class="ui header shift-left">{{ breadcrumb|safe }}</h3>
{% else %}
<h3 class="ui header breadcrumb shift-left">Index of {% if settings.file_server.base_path != '/' %}{{ settings.file_server.base_path }}{% endif %}{{ relative_path }}</h3>
{% endif %}
{% endfilter %}
{% if header %}
<div class="ui header external-header">
{{ header|safe }}</div>
{% endif %}
{% filter indent(width=8) %}
<table class="file-listing">
    <thead>
        <tr>
            <!--th class="collapsing info fitwidth" data-sort-method="none" role="columnheader"></th-->
            <th class="collapsing fitwidth" data-sort-method="none" role="columnheader"></th>
            <th class="collapsing" role="columnheader">Name</th>
            <th class="collapsing date-modified fitwidth" data-sort-method="number" role="columnheader">Last Modified</th>
            <th class="collapsing fitwidth" data-sort-method="filesize" role="columnheader">Size</th>
        </tr>
    </thead>
    <tbody>
        {% if relative_path != '/' %}
        <tr data-sort-method="none">
            <!--td class="info"></td-->
            <td><i class="angle left icon"></i></td>
            <td><a href="../">Parent Directory</a></td>
        </tr>
        {% endif %}
        {% for file in files %}
        <tr>
            <!--td data-sort-method="none" class="info">
                <i class="info circle icon"></i>
            </td-->
            <td>
                {% if enable_thumbnails %}
                {% if not thumbnail %}
                {% if file['mimetype'].split('/')[0] == 'video' and settings.file_server.enable_video_thumbnail %}
                <img loading="lazy" class="file-listing thumbnail" src="{{ settings.file_server.base_path }}/_/thumbnailer?path={{ file['path'] }}&scale=true" width="16" height="16" />
                {% elif file['mimetype'].split('/')[0] == 'image' and settings.file_server.enable_image_thumbnail %}
                <img loading="lazy" class="file-listing thumbnail" src="{{ settings.file_server.base_path }}/_/thumbnailer?path={{ file['path'] }}&scale=true" width="16" height="16" />
                {% else %}
                <span class="fiv-sqo fiv-icon-{{ file['icon'] }}"></span>
                {% endif %}
                {% else %}
                <span class="fiv-sqo fiv-icon-{{ file['icon'] }}"></span>
                {% endif %}
                {% endif %}
            </td>
            <td class="filename" data-sort="{{ file['is_file'] }}_{{ file['name'] }}">
                <a class="overflow" href="{{ file['path'] }}">{{ file['name'] }}</a>
            </td>
            <td class="fitwidth date-modified" data-sort="{{ file['modified_at_raw'] }}">{{ file['modified_at'] }}</td>
            <td class="fitwidth file-size">{{ file['size'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if settings.file_server.enable_dlbox %}
<div class="dlbox">
    <code>wget -m -np -c -R "index.html*" "{{ settings.file_server.server_url }}{{ relative_path }}"</code>
</div>
{% endif %}
{% if footer %}
<div class="ui header external-header">
    {% filter indent(width=4) %}{{ footer|safe }}{% endfilter %}
</div>
{% endif %}
<script src="{{ settings.file_server.base_path }}/_/static/table.js"></script>
{% if enable_thumbnails %}
{% if not thumbnail and (settings.file_server.enable_video_thumbnail or settings.file_server.enable_image_thumbnail) %}
<script src="{{ settings.file_server.base_path }}/_/static/thumbnail.js"></script>
{% endif %}
{% endif %}
{% endfilter %}