{# FIXME: Indentation being in **this** file is a hack to allow headers to be unindented. Another solution needs to be figured out. #}
{% filter indent(width=8) %}
{% if settings.file_server.use_interactive_breadcrumb %}
        <h3 class="ui header shift-left">
{% filter indent(width=4) %}
    {{ breadcrumb|safe }}
{% endfilter %}
</h3>
{% else %}
<h3 class="ui header breadcrumb shift-left">Index of {% if settings.file_server.base_path != '/' %}{{ settings.file_server.base_path }}{% endif %}{{ relative_path }}</h3>
{% endif %}
{% endfilter %}
{% if header %}
        <div class="ui header external-header">
{{ header|safe }}
        </div>
{% endif %}{% filter indent(width=8) %}
        <table class="file-listing">
    <thead>
        <tr>
            {# <th class="collapsing info fitwidth" data-sort-method="none" role="columnheader"></th> #}
            <th class="collapsing icon no-sort fitwidth" data-sort-method="none" role="columnheader"></th>
            <th class="collapsing filename sort-asc" role="columnheader">Name</th>
            <th class="collapsing date-modified fitwidth" data-sort-method="number" role="columnheader">Last Modified</th>
            <th class="collapsing fitwidth file-size" data-sort-method="filesize" role="columnheader">Size</th>
        </tr>
    </thead>
    <tbody>
        {% if relative_path != '/' %}
        <tr data-sort-method="none">
            {# <td class="info"></td> #}
            <td><i class="angle left icon"></i></td>
            <td class="parent-dir"><a href="../">Parent Directory</a></td>
        </tr>
        {% endif %}
        {% for file in files %}
        <tr>
            {# <td data-sort-method="none" class="info">
                <i class="info circle icon"></i>
            </td> #}
            <td>
                {% if enable_thumbnails %}
                {% if not thumbnail %}
                {% if file['mimetype'].split('/')[0] == 'video' and settings.file_server.enable_video_thumbnail %}
                <img loading="lazy" class="file-listing thumbnail" src="{{ settings.web_server.base_path }}/_/thumbnailer?path={{ file['path_without_base'] }}&scale=true" width="16" height="16" />
                {% elif file['mimetype'].split('/')[0] == 'image' and settings.file_server.enable_image_thumbnail %}
                <img loading="lazy" class="file-listing thumbnail" src="{{ settings.web_server.base_path }}/_/thumbnailer?path={{ file['path_without_base'] }}&scale=true" width="16" height="16" />
                {% else %}
                <span class="fiv-sqo fiv-icon-{{ file['icon'] }}"></span>
                {% endif %}
                {% else %}
                <span class="fiv-sqo fiv-icon-{{ file['icon'] }}"></span>
                {% endif %}
                {% endif %}
            </td>
            <td class="filename" data-sort="{{ file['is_file'] }}_{{ file['name'] }}">
                <a class="overflow" href="{{ file['path'] }}">{{ file['name'] }}</a>
            </td>
            <td class="fitwidth date-modified" data-sort="{{ file['modified_at_raw'] }}">{{ file['modified_at'] }}</td>
            <td class="fitwidth file-size" data-sort="{{ file['size'] }}">{{ file['pretty_size'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if settings.file_server.enable_dlbox %}
<div class="dlbox">
    <code>wget -m -np -c -R "index.html*" "{{ host_url }}{{ settings.web_server.base_path }}{{ relative_path.rstrip('/') }}/"</code>
</div>
{% endif %}
{% endfilter %}
{% if footer %}
        <div class="ui header external-header">
{{ footer|safe }}
        </div>
{% endif %}
{% filter indent(width=8) %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% if enable_thumbnails %}
{% if not thumbnail and (settings.file_server.enable_video_thumbnail or settings.file_server.enable_image_thumbnail) %}
<script src="{{ settings.web_server.base_path }}/_/static/thumbnail.js"></script>
{% endif %}
{% endif %}
{% if not thumbnail %}
<script src="{{ settings.web_server.base_path }}/_/static/tablesort.js"></script>
{% endif %}
{% if has_code_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-core.min.js" integrity="sha512-9khQRAUBYEJDCDVP2yw3LRUQvjJ0Pjx0EShmaQjcHa6AXiOv6qHQu9lCAIR8O+/D8FtaCoJ2c0Tf9Xo7hYH01Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-SkmBfuA2hqjzEVpmnMt/LINrjop3GKWqsuLSSB3e7iBmYK7JuWw4ldmmxwD9mdm2IRTTi0OxSAfEGvgEi0i2Kw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/diff-highlight/prism-diff-highlight.min.js" integrity="sha512-gNqZmXmzLWyg/00PDvTnX4q533JiXbxFdTWJC5hfOyHORHXOC6PtDP5Mm2Vpa4faIMONoKQADwhhbst9Ok1/oQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/keep-markup/prism-keep-markup.min.js" integrity="sha512-dM7y7FL7I43Zij3bPyIiAOl4ebzK01P8pcEUb7RvOKdXlxjSPebYBnkDB+S05PuNGlLFjvzVNRzuctj5A4P3Kg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/unescaped-markup/prism-unescaped-markup.min.js" integrity="sha512-QaQkFkE1LvUW6IaC7zLY4EsrNHuMWwepQv2RWyg4q/3+KI7K2WwtNEe6IPuYE7ZWkNxdKEnLJRuyuSnvbTUB3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endif %}
{% endfilter %}