{% if settings.file_server.use_interactive_breadcrumb %}
<h3 class="ui header shift-left">{{ breadcrumb|safe }}</h3>
{% else %}
<h3 class="ui header shift-left">Index of {{ relative_path }}</h3>
{% endif %}
{% if header %}
<div class="ui header external-header">
    {% filter indent(width=4) %}{{ header|safe }}{% endfilter %}
</div>
{% endif %}
<table class="file-listing">
    <thead>
        <tr>
            <!--th class="collapsing info fitwidth" data-sort-method="none" role="columnheader"></th-->
            <th class="collapsing fitwidth" data-sort-method="none" role="columnheader"></th>
            <th class="collapsing" role="columnheader">Name</th>
            <th class="collapsing date-modified fitwidth" data-sort-method="number" role="columnheader">Last Modified</th>
            <th class="collapsing fitwidth" data-sort-method="filesize" role="columnheader">Size</th>
        </tr>
    </thead>
    <tbody>
        <tr data-sort-method="none">
            <!--td class="info"></td-->
            <td></td>
            <td><a href="../">Parent Directory</a></td>
        </tr>
        {% for file in files %}
        <tr>
            <!--td data-sort-method="none" class="info">
                <i class="info circle icon"></i>
            </td-->
            <td>
                <span class="fiv-sqo fiv-icon-{{ file['icon'] }}"></span>
            </td>
            <td class="filename" data-sort="{{ file['is_file'] }}_{{ file['name'] }}">
                <a class="overflow" href="{{ file['path'] }}">{{ file['name'] }}</a>
            </td>
            <td class="fitwidth date-modified" data-sort="{{ file['modified_at_raw'] }}">{{ file['modified_at'] }}</td>
            <td class="fitwidth file-size">{{ file['size'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if footer %}
<div class="ui header external-header">
    {% filter indent(width=4) %}{{ footer|safe }}{% endfilter %}
</div>
{% endif %}
<script src="{{ settings.file_server.base_path }}/_/assets/table.js"></script>