/*noinspection CssUnknownTarget*/ @import url('https://koruri.chillout.chat/koruri.css');
/*noinspection CssUnknownTarget*/ @import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/mononoki.min.css');

body {
    color: white;
    /* Store your backgrounds in the assets directory, otherwise the image renderer will break.
       Use a web path if pulling from an external location. Your speeds will suffer though. */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("wallhaven-yxx7j7.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #060606;
    position: relative;
    margin: 0;
}

/* UI */
/* UI: Container */
div.ui.container {
    border-radius: .25em;
    padding: 1em;
}

div.ui.container:last-child {
    margin-bottom: 6em;
}

div.ui.container a {
    color: #d6d0d0;
}

div.ui.container a[href] {
    color: pink;
    text-shadow: 0 0 32px black;
}

div.ui.container img, a {
    display: inline-block;
}

div.ui.container p.center {
    text-align: center;
}

/* UI Container: Text headers */
div.ui.container h1.ui.header, h2.ui.header, h3.ui.header {
    text-align: center;
    font-family: 'Koruri', 'Segoe UI', 'Helvetica', sans-serif;
    margin: 0;
    color: white;
}

div.ui.container h2.ui.header, div.ui.horizontal.section.divider {
    color: lightgray !important;
}

div.ui.container h1.ui.header {
    font-size: 3em;
}

div.ui.container h2.ui.header {
    font-size: 1.14285714rem;
    font-weight: 400;
    margin-bottom: 1em;
}

div.ui.container h3.ui.header.breadcrumb {

}

div.ui.container h3.ui.header.shift-left {
    text-align: left;
}

div.ui.container div.ui.header.external-header {
    color: white;
    font-family: 'Koruri', 'Segoe UI', 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

@media screen and (max-width: 960px) {
    div.ui.container div.ui.header.external-header {
        font-size: 18px;
    }
}

div.ui.container div.ui.header.external-header a {
    text-decoration: revert;
}

div.ui.container div.ui.header.external-header a:visited {
    color: deeppink;
}

div.ui.container div.ui.header.external-header pre[class*=language-] {
    background-color: #3339;
    border-radius: .25em;
    min-width: 100%;
    white-space: normal;
}

div.ui.container :not(div.ui.header.external-header) p {
    font-size: 16px;
}

/* UI Container: Blockquote */
div.ui.container blockquote {
    margin-left: .5em;
    padding-left: 1em;
    border-left: 5px solid #8888
}

/* UI Container: Breadcrumb */
div.ui.container .ui.header ol.breadcrumb {
    font-family: 'Koruri', 'Segoe UI', 'Helvetica', sans-serif;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

div.ui.container .ui.header ol.breadcrumb li {
    display: inline-block;
    line-height: 10px;
    padding: 0 15px 0 7px;
    position: relative;
}

div.ui.container .ui.header ol.breadcrumb li::before,
div.ui.container .ui.header ol.breadcrumb li::after {
    border-right: 2px solid #fff;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);
}

div.ui.container .ui.header ol.breadcrumb li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

div.ui.container .ui.header ol.breadcrumb li:last-of-type::before,
div.ui.container .ui.header ol.breadcrumb li:last-of-type::after {
    display: none;
}

div.ui.container .ui.header ol.breadcrumb li a {
    letter-spacing: -1px;
    text-decoration: none;
}

/* UI Container: File Search Box */
div.ui.container .ui.search {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.ui.container .ui.search input.prompt {
    background-color: #181818;
    color: white;
}

div.ui.container .ui.search .results {
    width: 100%;
}

div.ui.container .ui.search .results .message .header {
    color: white;
}

div.ui.container .ui.search .results .message .description {
    color: white;
}

div.ui.container .ui.search .results .result { 
    padding: .4em 1em;
}

div.ui.container .ui.search input[type=text] {
    display: block; width: 100%;
}

div.ui.container .ui.search .results {
    border: 1px solid black;
    background-color: #181818;
}

div.ui.container .ui.search .results .result:hover {
    background-color: grey;
}

div.ui.container .ui.search .results .result .content .title {
    color: white;
    font-family: 'mononoki', 'Consolas', 'Menlo', 'SF Mono Regular', monospace;
    font-size: 14px;
    font-weight: 700;
}

div.ui.container .ui.search .results .result .content .description {
    color: white;
}

/* UI Container: File Listing */
div.ui.container table.file-listing {
    font-family: 'mononoki', 'Consolas', 'Menlo', 'SF Mono Regular', monospace;
    table-layout: auto;
}

div.ui.container table.file-listing thead tr th {
    text-align: left;
}

div.ui.container table.file-listing tbody tr td {
    padding: 0 .7em;
}

div.ui.container table.file-listing tbody tr td.filename {
    width: 100%;
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
}

div.ui.container table.file-listing .date-modified, .file-size, i.info {
    white-space: nowrap;
}

@media screen and (max-width: 960px) {
    div.ui.container table.file-listing {
        border-collapse:separate;
        border-spacing:0 15px;
        font-size: 18px;
    }

    div.ui.container table.file-listing .date-modified {
        display: none;
    }

    div.ui.container table.file-listing tbody tr td {
        padding: 0 .7em 0 0;
    }
}

/* https://stackoverflow.com/a/10853277 */
div.ui.container table.file-listing tbody tr td.fitwidth {
    width: 1px;
}

div.ui.container table.file-listing tbody tr td i.info {
    width: 0;
}

@media screen and (max-width: 960px) {
    div.ui.container table.file-listing .info {
        display: none;
    }
}

div.ui.file-listing.tooltip {
    position: absolute;
}

div.ui.file-listing.tooltip img {
    border: solid rgba(0, 0, 0, 0.5) 12px;
    border-radius: 0 25px 25px 25px;
}

div.ui.container table.file-listing tbody tr td i.icon {
    margin: unset;
}

/* UI Container: Bulk Download Footer */
div.ui.container div.dlbox {
    background-color: #3339;
    border-radius: .25em;
    padding: 1em;
    margin-top: 1em;
    min-width: 100%;
    white-space: normal;
}

/* UI: Hash Popup */
div.ui.basic.modal div.ui.icon.header {
    font-family: 'Koruri', 'Segoe UI', 'Helvetica', sans-serif;
}

div.ui.basic.modal h4 {
    font-family: 'mononoki', 'Consolas', 'Menlo', 'SF Mono Regular', monospace;
    font-size: 14px;
}

div.ui.basic.modal div.ui.label {
    background-color: #181818;
    color: lightgray;
    font-family: 'Koruri', 'Segoe UI', 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

div.ui.basic.modal input {
    background-color: #3339;
    color: white;
    font-family: 'mononoki', 'Consolas', 'Menlo', 'SF Mono Regular', monospace;
    font-size: 14px;
}

/* Fix Fomantic-UI crap */
div.ui.container .ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    font-size: inherit;
}
